.blue{
    color:blue;
}
.red{
    color:red;
}
.custombtn1{
    background-color: #ffffff !important;
    color: #000000 !important;
}
.form-group.required .col-form-label:after {
    content:"*";
    color:red;
}
.form-group.required label:after {
    content:"*";
    color:red;
}
.brand-name{
    position: absolute;
    top:50%;
    right: 30%;
    font-weight: bold;
}
.bannerimg {
    width: 100%;
    height: auto;
}
.bannerhead{
    width: 34%;
}